body
{
            background-color:rgb(75, 255, 240);
}
/*
goofy ahh
*/
p{
  color:aqua;
}
h1{
    color:aqua;
}  
h1{
    font-family:cursive;
}

tr, th,table{
    border:10px black;
    padding: 10%;
    margin: 10%;
}